<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}My App{% endblock %}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
      .navbar {
        display: flex;
        justify-content: center;
        background-color: #333;
        padding: 15px;
      }
      .navbar a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        padding: 10px 20px;
        border-radius: 5px;
      }
      .navbar a:hover {
        background-color: #555;
      }
      .container {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <!-- when connecting to blueprint, always go (blueprint name + function name) -->
    <div class="navbar">
      <a href="{{ url_for('transactions.get_expense') }}" target="_blank"
        >Transactions</a
      >
      <a href="{{ url_for('summary.summary') }}" target="_blank">Summary</a>
      <a href="{{ url_for('user.user') }}" target="_blank">User</a>
    </div>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
